style, section


body, html {
  max-width: 1000px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: seashell;
}

header {
  background: rgba(42, 100, 3, 0.973);
  padding: 20px 30px;
  max-width: 940px;
  margin: auto;
  font-family: Helvetica, Arial, sans-serif;
  
}

h2 {   
    font-family: Helvetica, Arial, sans-serif;
    color: black;   
    background-color: mediumaquamarine;

}

article > p {
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
    text-align: left;
}

article > ul{
  font-size: 1.2em;
}


a {
       font-style: italic;
       font-weight: bolder;
       margin-left: 5px;
       color:rgb(155, 109, 240);
}


img {
        border: 10px solid rgba(231, 43, 231, 0.932);
        max-width: 90%;
        max-height: 100%;
        margin-right: 95%;
        padding: 0px;        
}



#title {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  margin-right: 75px;
  color: #FFF;
}

#style_subheader {
  max-width: 1000px;
  font-size: 1.5em;
  margin: auto;
  padding: 15px 30px;
  border-top: 3px solid seashell;
  border-bottom: 3px solid #333;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: lightgreen;
}

#style_imageText {
  max-width: 1000px;
  margin: auto;
  border: none;
}

#style_references {
  clear: both;
  max-width:1000px;
  margin: auto;
  padding: 2px 0px;
  border:none;
  background: rgba(42, 100, 3, 0.973);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#style_qna {
  clear: both;
  max-width:1000px;
  margin: auto;
  padding: 2px 0px;
}

#style_answer {
  padding: 0 0 10px 8rem;

}

#style_newContentTitle {
  max-width: 1000px;
  font-size: 1.5em;
  font-weight: bold;
  margin: auto;
  padding: 15px 30px;
  border-top: 3px solid seashell;
  border-bottom: 3px solid #333;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: lightgreen;
}

image_col {
  float: left;
  width: 30%;
  margin: 9px auto;
}

image_col > div {
  margin: 10px auto;
}

text_col {
  float: right;
  width: 60%;
}
